@at-root body {
  background-color: $surface;
}

.inner-body {
  position: relative;
  min-height: 100%;
  padding-bottom: 3.5rem;
}

.sr-only {
  position: absolute;
  clip: rect(0,0,0,0);
}

.sr-only-focusable:focus {
  clip: auto;
}

.skip-to-main {
  @extend .sr-only;
  @extend .sr-only-focusable;
  @include elevation(8);
  z-index: 8;
  background: $primary;
  display: block;
  height: 4rem;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  .title {
    display: inline-block;
    @include typography(headline6);
    padding: 0.75rem;
    color: $on-primary;
  }
}
